@page
@model Exito.App.Presentacion.Pages.LogIn.LoingModel

@{
    ViewData["title"] = "Sign in";
}

<div class="l-container">
    <form class="l-form" method="post">
        <div class="l-icon">
            <img src="~/images/person.png" alt="" srcset="">
        </div>
        @if (!Model.Mensaje.Equals(""))
        {
            <span type="text" class="alert alert-danger">@Model.Mensaje</span>
        }
        <input type="text" asp-for="Empleado.Usuario" placeholder="Ingrese usuario" autocomplete="off">
        <input type="password" asp-for="Empleado.Clave" placeholder="Ingrese contraseña">
        <button>Entrar</button>
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
