/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /* margin-bottom: 60px; */
    overflow-y: hidden;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70px calc(100% - 100px) 50px;
}

.footer {
    grid-column: 1 /span 2;
    grid-row: 3;
    height: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #ABA3A3;
    /* Vertically center the text there */
}

.l-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.l-container .l-form {
    width: 498px;
    height: 454px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    box-shadow: 2px 2px 5px #FFE800;
    position: relative;
}

.l-container .l-form input,
.l-container .l-form button {
    display: block;
    width: 100%;
    border: 0;
}

.l-container .l-form input {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 49.93px;
    padding-left: 15px;
    outline: none;
}

.l-container .l-form input:focus {
    box-shadow: 0px 0px 5px #FFE800;
}

.l-container .l-form input::placeholder {
    color: #ABA3A3;
}

.l-container .l-form button {
    border-radius: 10px;
    background: #FFE800;
    height: 59.05px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.l-container .l-icon {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 40%;
    box-shadow: 2px 2px 4px #FFE800;
    background-color: #fff;
    padding: 10px;
}

.l-container .l-icon img {
    width: 100%;
    border-radius: 50%;
}


/* Header */

.header {
    width: 100%;
    height: 70px;
    background-color: #FFE800;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.header .h-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    padding: 1px;
    position: relative;
}

.header .h-icon img {
    width: 100%;
    border-radius: 50%;
}

.header .h-icon .submenu {
    display: block;
    position: absolute;
    top: 65px;
    left: -150px;
    background-color: #fff;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.40);
    z-index: 10000000;
}

.header .h-icon .submenu::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #ffffff;
}

.header .h-icon .hide {
    display: none;
}

.header .h-icon .submenu .submenu-item {
    border-bottom: 1px solid #eeeeee;
}

.header .h-icon .submenu .submenu-item a {
    width: 100%;
    font-weight: bold;
    text-decoration: none;
}


/* End header */

.side-menu {
    position: relative;
    background-color: #191919;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.side-menu::before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: #FFE800;
    top: 0;
    left: 0;
}

.side-menu .s-title {
    width: 100%;
    height: 70px;
    color: #ffffff;
    text-transform: capitalize;
    border-bottom: 1px solid #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu .s-menu-container {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.side-menu .s-menu-container .s-menu-item {
    width: 100%;
    display: flex;
    padding-left: 25px;
    align-items: center;
    height: 50px;
    box-shadow: 0 0 3px rgba(255, 254, 254, 0.30);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.side-menu .s-menu-container .s-menu-item:hover {
    background-color: #E1CD02;
    color: #191919;
}

.side-menu .s-menu-container .i-active {
    background-color: #E1CD02;
    color: #191919;
}

.main {
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 30px;
}

.c-pass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}